    @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Domain.ViewModels;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model List<Domain.ViewModels.UserDetailDashboardView>

<!DOCTYPE html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="@Url.Content("~/css/UserDashboard.css")" />
</head>
<body>
    <div class="main-content">
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>Checked In Employees</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                <div class="no-bday">
                    <p class="no-bday-display">No Employee Checked In yet</p>
                </div>

            </div>
        </div>
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>On Leave</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                <div class="no-bday">
                    <p class="no-bday-display">No Employee on Leave Today</p>
                </div>

            </div>
        </div>
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>Public Holiday</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                <div class="no-bday">
                    <p class="no-bday-display">No Upcoming Holidays </p>
                </div>

            </div>
        </div>
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>Types Of Leaves</h2>
            </div>
            <span> <hr> </span>
            <div id="leaveReportContainer" class="card-content">
                @{
                    var allLeaves = ViewBag.leaveReport as List<LeaveReportView>;
                    if (allLeaves == null || !allLeaves.Any())
                    {
                        <div class="no-bday">
                            <p class="no-bday-display">No Leaves Added Currently</p>
                        </div>

                    }
                    else
                    {
                        foreach (var i in allLeaves)
                        {
                            <div class="user-card">
                                <ul class="leave-list">
                                    
                                    <li class="leave-item">
                                        <div class="leave-circle">
                                            <span>@i.AllotedDays</span>
                                        </div>
                                        <div class="leave-details">
                                            <span class="leave-type">@i.LeaveName</span>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                            
                                                           
                        }
                    }
                }
            </div>
        </div>
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>Files</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                <div class="no-bday">
                    <p class="no-bday-display">No New Files </p>
                </div>

            </div>
        </div>
        <div class="box-card" draggable="true">
            <div class="box-header">
                <h2>New Hires</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                @{
                    var newHires = ViewBag.newHireUsers as List<UserDetailDashboardView>;
                    if (newHires == null || !newHires.Any())
                    {
                                    <div class="no-bday">
                                        <p class="no-bday-display">No New Hires Currently</p>
                                    </div>
                       
                    }
                    else
                    {
                        foreach (var i in newHires)
                        {
                                <div class="user-card">
                                    @if (!string.IsNullOrEmpty(@i.EmployeeImg))
                                    {
                                        <img src="@Url.Content($"~/profilePicture/{@i.EmployeeImg}")" alt="@i.EmployeeName" class="profile-image">
                                    }
                                    else
                                    {
                                        <div class="default-profile-image"></div>
                                    }
                                    <div class="i-details">
                                        <p class="employee-id">@i.EmployeeId - <span class="employee-name">@i.EmployeeName</span></p>
                                        <p class="employee-role">@i.EmployeeDepartment     <span class="employee-phone">&#128222; @i.EmployeePhone</span></p>
                                    </div>
                                </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="box-card card-stats" draggable="true">
            <div class="box-header">
                <h2>Statistics</h2>
            </div>
            <span> <hr> </span>
            <div class="card-content">
                Content
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/AdminDashboard.js"></script>
</body>


</html>
